<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HttpReqGenTest">  
    <parameter name="path" value="src/main/resources/Template.xls"/>
    <parameter name="debug" value="false"/>
    <parameter name="reportPath" value="report"/>

    <test name="BasicFunction" preserve-order="true">        
        <classes>
            <class name="com.yinheng.interfacetester.InterfaceTester" />
        </classes>
    </test>
</suite>